<h1>Заказ из Book Store оптравлен</h1>

<p>
  Администрация магазина Book Store благодарит Вас за заказ.
</p>

<table>
  <tr>
    <th colspan="2">Наименование</th>
    <th>Цена</th>
  </tr>
  <%= render @order.line_items %>
</table>
<p>Всего к оплате:</p>

<p>
Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте отдельное сообщение.
</p>